@import "styles/media.scss";
.about {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  padding-inline: 1rem;
  &-img {
    width: 35%;
  }
  &-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin-bottom: 1rem;
    }
  }
}
@media only screen and(max-width:$tablet-screen) {
  .about {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    &-img {
      width: 90%;
    }
    &-content {
      width: 90%;
    }
  }
} ;
